body{
     /*Comando da Edição das letras*/
     background-color: grey;
     color: white;
     font-family: Times New Roman;
     background-attachment: fixed;

    /* Imagem de Fundo */
    background-image: url(fotofundo.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

/*Comando das Edições dos links*/
a{
    color:white;
    text-decoration:none; 
    text-align: center;
    font-size: 15px;
}

a:hover{
    text-decoration: underline;
    color:blue;
}

/*Banner da Universidade */
img{
    width: 100%; 
    background-attachment: fixed;
}

/*Classe da fotos de Perfil*/
.foto{
   float:center;width:20%;
   background-attachment: fixed;
   margin-right: 1%;
   margin-left: 10pt;

}

/*Classe da foto Seta */
.seta{
    width: 10%; 
}

/*ID dos Titulos */
#titulo{
    font-size: 40px;

}

